<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PuzzleMakerBlazor.styles.css" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <script>MyDOMGetBoundingClientRect = (element, parm) => { return element.getBoundingClientRect(); };</script>
    <script>GetScroll = (parm) => { return { scrollX: window.scrollX, scrollY: window.scrollY } };</script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
