@using PuzzleMakerBlazor.Models
@using System.ComponentModel
@inject IJSRuntime JS

<span @ref=pieceTag class="Dragable" style="left:@(posX)px; top:@(posY)px; z-index:@(selected ? zIndexMax : zIndexMin);"
   @ondragstart=OnDragStart
   @ondrag=OnDrag
   @ondragend=OnDragEnd>

   @ChildContent
</span>


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }


    [Parameter]
    public int zIndexMin { get; set; } = 0;
    [Parameter]
    public int zIndexMax { get; set; } = 10;
    [Parameter]
    public int startX { get; set; }
    [Parameter]
    public int startY { get; set; }

    private ElementReference pieceTag;
    private ElementReference overlayTag;
    private int posX = 0;
    private int posY = 0;
    private int clickOffsetX = 0;
    private int clickOffsetY = 0;

    private bool selected = false;
    private WindowScroll scroll = new WindowScroll();

    [Parameter] public Action<int, int> OnDragCallback { get; set; } = default!;
    [Parameter] public Action<int, int> OnDragEndCallback { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        posX = startX;
        posY = startY;
    }

    public async Task OnDragStart(DragEventArgs e)
    {
        var result = await JS.InvokeAsync<BoundingClientRect>("MyDOMGetBoundingClientRect", pieceTag);
        scroll = await JS.InvokeAsync<WindowScroll>("GetScroll");
        clickOffsetX = (int)(e.ClientX - result.Left);
        clickOffsetY = (int)(e.ClientY - result.Top);
        selected = true;
    }

    public void OnDrag(DragEventArgs e)
    {
        posX = (int)(e.ClientX) - clickOffsetX + (int)scroll.scrollX;
        posY = (int)(e.ClientY) - clickOffsetY + (int)scroll.scrollY;
        OnDragCallback?.Invoke(posX, posY);
    }

    public void OnDragEnd(DragEventArgs e)
    {
        posX = (int)(e.ClientX) - clickOffsetX + (int)scroll.scrollX;
        posY = (int)(e.ClientY) - clickOffsetY + (int)scroll.scrollY;
        OnDragCallback?.Invoke(posX, posY);
        OnDragEndCallback?.Invoke(posX, posY);
        selected = false;
    }


}
